body {
  background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Segoe UI', 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .imgfundo{
    width: 100%;
    height: 100%;

  }
  .fundo{
    margin-top: 250px;
    background-image: url(pokedex.jpg);
    background-size: 380px;
    border-radius: 15px;
    position: relative;
    top: -100px; 
    width: 380px;
    height: 550px;
    background-color: lightblue;
  }
  
  .container {
    padding: 30px;
    text-align: center;
    width: 320px;
   
  }
  
  h1 {
    margin-bottom: 22px;
    background-color: transparent;
    border: 1px solid transparent;
    color: black;
  }
  
  .search-box input {
    background-color: transparent; 
    border: none;                 
    outline: none;                
    color: black;                 
    padding: 8px;
    height: 2px;
    width: 150px;
    margin-bottom: 40px;
  }
  
  .search-box button {
    padding: 7px;
    background-color: #ff3e3e;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 28px;
    height: 22px;
    width: 65px;
   right: 300px;
  }
  

  .botao_mexer1  {
    margin-right: auto;
    display: block;
    font-size: 30px;
    margin-top: -0.2px;
    background-color: #76b937;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
  }
  .botao_mexer2 {
    margin-top: -42px;
    font-size: 30px;
    margin-left: auto;
    display: block;
    background-color: #76b937;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
  }
  .imagemsobreposta{
    position: absolute;
    height: 110px;
    width:85px;
    top: 509px;
    left: 52%;
    transform: translate(-50%, -50%);
  right: 20px;
  }
  .card img {
    width: 150px;
    height: 150px;
  }
  
  .types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .type {
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .type.fire { background-color: #f08030; }
  .type.water { background-color: #6890f0; }
  .type.grass { background-color: #78c850; }
  .type.electric { background-color: #f8d030; color: black; }
  .type.bug { background-color: #a8b820; }
  .type.normal { background-color: #a8a878; }
  .type.poison { background-color: #a040a0; }
  .type.ground { background-color: #e0c068; color: black; }
  .type.flying { background-color: #a890f0; }
  .type.fighting { background-color: #c03028; }
  .type.psychic { background-color: #f85888; }
  .type.rock { background-color: #b8a038; }
  .type.ghost { background-color: #705898; }
  .type.ice { background-color: #98d8d8; color: black; }
  .type.dragon { background-color: #7038f8; }
  .type.dark { background-color: #705848; }
  .type.steel { background-color: #b8b8d0; }
  .type.fairy { background-color: #f0b6bc; }
  